*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

.floor-container{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    width: 100%;
    margin: 10px 10px;
}
.floor{
    display: flex;
    width: 100%;
    margin: 10px 10px;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
}
.floor-base{
    background-color: black;
    width: 80%;
    height: 3px;
}

