@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button{
    font: inherit;
}
#container{
    display: grid;
    place-items: center;
    padding: 1em;
}
#container h1{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}
.floor-container{
    border: 1px solid black;
    width: 100%;
    min-height: 10rem;
    display: grid;
    grid-gap: 1em;
    margin: 1em 1em;
    padding: 0.5em;
}
.lift-btn{
    justify-self: left;
    align-self: center;
    background-color: transparent;
    width: 5%;
    padding: 8px 0;
    cursor: pointer;
}
.lift-btn:hover{
    transition: 1s ;
}
.floor{
    display: flex;
    /* border: 1px solid red; */
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
}
.floor-base{
    background-color: black;
    width: 75%;
    height: 1px;
}

.lift-doors{
    height: 90px;
    width: 50px;
    position: absolute;
    left: 220px;
    bottom: 284px;
    overflow: hidden;
    border: 1px solid black;

}
.left-door{
    background-color: orange;
    position: inherit;
    top: 0;
    right: 25px;
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
    transition: right 2.5s  linear;
}
.right-door{
    background-color: orange;
    border-left: 1px solid black;
    height: 100%;
    width: 50%;
    position: inherit;
    top: 0;
    left: 25px;
    transition: left 2.5s linear;
}

.left-door-close{
    right: 48px;;
}
.right-door-close{
    left: 48px;
}

/* movement of LIFT */
.lift{
    transition: 2s bottom linear;
    bottom: 477px;
}

